<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206608106752-r8ogt272gimn3vb11q6oag7tiofm01um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206608106752-r8ogt272gimn3vb11q6oag7tiofm01um</string>
	<key>API_KEY</key>
	<string>AIzaSyDKYKU-SYGbLFYaWVkdGRXwRbcLjOm71EE</string>
	<key>GCM_SENDER_ID</key>
	<string>206608106752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-ios-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ios-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206608106752:ios:f72e29f5bb5ebffd935fe5</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-ios-clone.firebaseio.com</string>
</dict>
</plist>